<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9468075529160387"
     crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <title>Youtube to MP3 </title>
</head>
<body>
    <header>
        <nav>

            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
            </label> 
            
            <div class="right-container">
                <a href="#" class="logo">YTCNVRTR</a>
            </div>

            <div class="left-container">
              <ul>
                <li><a href="#mission" class="nav-link">mission</a></li>
                <li><a href="#convert" class="nav-link">convert</a></li>
                <li><a href="#contacts" class="nav-link">contact</a></li>
              </ul>
            </div>
            
            

          </nav>
    </header>

    <%/* SERVICES */%>

    <div class="about">
        <div class="abt-left-container">
            <div class="title-abt">
                <p> Download <br>
                    And Listen your <br>
                    Favorite <span class="highlight">Music</span> </p>
                
            </div>
    
            <div class="sub-abt">
                <p>The most reliable site to download YouTube <br>s
                     musics without ads</p>
            </div>
    
            <div class="btn-abt">
                <div class="how-btn-abt abt-btn">
                    <button><a href="#how-does-it-work">How Does it Work?</a></button>
                </div>
    
                <div class="strt-btn-abt abt-btn">
                    <button><a href="#convert">Get Started</a></button>
                </div>
            </div>
        </div>
         
        <div class="abt-right-container">
            <img src="\css\pngs\bgbicon.png" alt="">
        </div>
    </div>

    <div class="mission" id="mission">
        <h1>Why YTCNVRTR?</h1>
        <div class="missionContent">
            <div class="missionOne">
                <img src="\css\pngs\clockIcon.png" alt="">
                <h3>Saves time</h3>
                <p>No need to wait 10 minutes for one song</p>
            </div>
    
            <div class="missionOne">
                <img src="\css\pngs\CheckIcon.png" alt="">
                <h3>Simple</h3>
                <p>Push a few buttons, and there you have your music</p>
            </div>
    
            <div class="missionOne">
                <img src="\css\pngs\NoAdsIcon.png" alt="">
                <h3>No Ads</h3>
                <p>No annoying ads on every clicks you do</p>
            </div>
        </div>
    </div>


    <section class="convert" id="convert">
        <div class="convert-area">
            <div class="top-container">
                <form action="/convert-mp3" method="POST" id="form">
                    <img src="\css\pngs\searchBar.png" alt="">
                    <div>
                        <input type="text" name="videoID" placeholder="Enter YouTube URL"><button id="convert-btn">Search</button>
                    </div>
                </form>
            </div>
        
            <div class="bottom-container">
                <% if(typeof success != "undefined" && success) { %>
                    <div class="success">
                        <p><%= song_title %></p>
                        <a href="<%= song_link %>"><button id="download-btn">DOWNLOAD</button></a>
                    </div>
                <% } else if(typeof success != "undefined" && !success) { %>
                    <div class="errors">
                        <p><%= message %></p>
                    </div>
                <% } %>
            </div>
        </div>
    
    </section>

    <div class="how-does-it-work" id="how-does-it-work">
        <div class="content-container">
            <img src="\css\pngs\folder.png" alt="">
            <div class="content">
            <h1>How Does It Work?</h1>
            
           <div class="info-container">
            <div class="content-info">
                <h1>1</h1>
                <p>Copy URL of your favortite music or song</p>
            </div>

            <div class="content-info">
                <h1>2</h1>
                <p>Paste the URL </p>
            </div>

            <div class="content-info">
                <h1>3</h1>
                <p>Click the convert button and wait</p>
            </div>

            <div class="content-info">
                <h1>4</h1>
                <p>Click the
                    download
                    button</p>
            </div>
           </div>
        </div>
        </div>
    </div>


    <div id="contacts" class="contact-info">
        <h2>Contact Us</h2>
        <p>Email: vincentquitoriano38@gmail.com</p>
        <p>Facebook: Vincent Adrian QUitoriano</p>
        <p>Instagram: TBA</p>
    </div>

    <footer>
        &copy; My Converter 2023. All rights reserved.<br>
        
    </footer>
    <script type="text/javascript">
        window,addEventListener("scroll", function(){
            var nav = document.querySelector("nav");
            nav.classList.toggle("sticky", window.scrollY > 0);
        })
    </script>
</body>
</html>