@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  color: #f1f5f0;
}

html{
  scroll-behavior: smooth;
  scroll-padding: 6rem;
}
/*NAVIGATION BAR*/


nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.2rem  9rem;
  transition: 0.6s;
  font-size: 2rem;
  font-weight: 600;
}

.checkbtn {
  font-size: 22px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 30px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}


.right-container {
  display: flex;
  align-items: center;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 8px 0;
  margin-right: 10px;
}

.nav-link:hover {
  background-color: #555;
}

.logo {
  color: white;
  text-decoration: none;
  padding: 8px 16px;
}



.left-container ul li{
  list-style: none;
  display: inline-block;
  padding: 0 0 0 5.625rem;
}

/*Sticky*/

nav.sticky{
  padding: 20px 50px;
  background-color: rgba(3, 9, 43, 0.311); /* Semi-transparent background */
  backdrop-filter: blur(10px);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

nav.sticky .nav-link{
  color: #fff;
}

nav.sticky .logo{
  color: #fff;
}

nav.sticky .left-container ul li{
  list-style: none;
  display: inline-block;
  
}

nav.sticky .left-container ul li:last-child {
  border-right: none;
 } /* Remove right border from the last list item */
/* SERVICES */
span{
  font-size: 20px;
}


.about {
  display: flex;
  margin: 11rem 0 0 0;
  width:auto;
  color: #E0E1DD; 
  justify-content: center;
}

.abt-left-container{
  padding-right: 5rem;
  padding-top: 6rem;
}

.title-abt{
  font-size: 3.3125rem;
  font-weight: 600;
}

.title-abt span{
  font-size: 3.3125rem;
}

.sub-abt{
  font-size: 1.125rem;
  font-weight: 600;
  padding: 2.5rem 0;
}

.btn-abt{
  display: flex;
  padding: 1rem 0rem;
}

.btn-abt button{
  width: 14.875rem;
  height: 3.4375rem;
  border-radius: 2rem;
  border-color: none;
  font-size: 20px;
  font-weight: 600;

}

.how-btn-abt{
  padding:0 2rem;

}

.how-btn-abt button{
  background-color: #3F4F5E;
}

.strt-btn-abt button{
  background-color: #344865;
}

body {
  color: #fff;
  background-color: #0d1821; /* Adding this line to set the background color to black */
}

/*.top-container{
  height: 40vh;
  background: rgb(31,29,29);
  background: linear-gradient(181deg, rgba(31,29,29,1) 0%, rgba(255,255,255,1) 80%);
}*/

.bottom-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

/*mission area*/

.mission{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}

.mission h1{
  font-size: 53px;
}

.missionContent{
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.missionOne{
  display: flex;

  background-color: #1F2C38;
  border-radius: 1.25rem;
  width: 18.75rem;
  height: 21.875rem;
  margin: 2rem;
  padding: 3rem;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}

.missionOne img{
  height: 5.625rem;
  width: 5.625rem;
}

.mission h3{
  font-size: 30px;
  padding: 1rem;
}

.mission p{
  font-size: 20px;
}






/*Convert area*/

.convert{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.convert-area{  
  width: 974px;
  height: 326px ;
  border-radius: 30px;
  background-color: #1F2C38;
  align-items: center;
  justify-content: center;
  padding-top: 5rem;
}
#form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;


}

#form input{
  width: 567px;
  height: 80px;
  border-radius: 30px;
  background-color: #3F4F5E;
  text-align: center;
  font-size: 20px;
  color: #FFFFFF;
  font-weight: bold;

  
}

#form button{
  background-color: #344865;
  width: 241px;
  height: 80px;
  border-radius: 40px;
  align-items: center;
  color: #C96775;
  font-size: 20px;
  font-weight: bold;
}

#form img{
  height: 82px;
  width: 82px;
}

.errors{
  width: 400px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  gap: 10px;
  border-radius: 5px;
  padding: 12px;
  color: #778DA9;

}

.success{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  color: #fff;
}

#download-btn{
  width: fit-content;
  color: #fff;
  padding: 12px;
  color: white;
  background-color: #1B263B;
  border-radius: 45px;
  text-decoration: none;
  font-style: normal;
  cursor: pointer;
  letter-spacing: 1px;
  font-family: inherit;
  border: 1px solid #000;
  transition: 0.3s ease-out;
}

#download-btn:hover{
  color:black;
  background-color:  white;
  border: 1px solid  lightgray;
  
}


.how-does-it-work{
  padding: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}


.how-does-it-work img{
  height: 450px;
  width: 380px;
  
}

 

.content-container{
  display: flex;

}

.content{
  background-color:#1F2C38 ;
  height: 438px;
  width: 659px;
  border-radius: 30px;
  padding: 2rem;
}

.info-container{
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.content-info{
  display: flex;
  width: 190px;
  height: 82px;
  padding:.5rem;
  font-size: 20px;
  font-weight: bold;
  margin: 2rem;
}

.content-info h1{
  color: #C96775;
  padding: 5px 5px 0 0;
  
}
@media(max-width:1180px){

  *{
    width: auto;
  }
  /* nav.sticky {
    margin-top: 3rem;
  }  */
  nav{
    padding: 0;
    justify-content: space-evenly;
  }

  .left-container ul li{
    padding: 0 0 0 2rem;

  }
  .about{
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
 
  } 
  .abt-right-container img{
    height: 300px;
    width: 300px;
  }

  .abt-left-container{
    padding: 0px;
  }
  .title-abt{
    font-size: 2rem;
  }

  
  .btn-abt button{
    width: 9.875rem;
    height: 3rem;
    font-size: 1rem;
  
  }
  

  
  .how-btn-abt button{
    background-color: #3F4F5E;
  }



  .missionContent{
    flex-direction: column;
  }

  .convert-area{
    width: auto;
    padding: 3rem;
  }

  #form input{
    width: 20rem;
    height: 3rem;
  
    
  }
  
  #form button{
    background-color: #344865;
    width: 10rem;
    height: 3rem;
  }

  .content-container img{
    display: none;

  }
}

@media(max-width:755px){


  .left-container ul li{
    padding: 0 0 0 1rem;
  }

  #form input{
    width: 50%;
  }



  .mission h1 {
    font-size: 1.6rem;
  }
  .about{
    margin: 5rem 0 0;
  }
  .abt-right-container{
    display: none;
  }

  .content-container{
    flex-direction: column;
  }
  .content-container img{
    display: none;

  }
  .content{
    height: auto;
    width: auto;
  }
  .value-proposition{
    padding: 0 0;
    margin: 30px 20px;
  }
  
  .btn-abt button{
    width: 7.875rem;
    height: 3rem;
    font-size: 1rem;
  
  }
  .sub-abt{
    font-size: 1rem;
  }

  #form input{
    width: 10rem;
    height: 2rem;
    padding: 1rem;
    
  }
  #form{
    display: flex;
    flex-direction: column;
  }
  .convert-area{
    width: 22rem;
    height: auto;
  }
  #form button{
    background-color: #344865;
    width: 5rem;
    height: 2rem;
  }
  
  .logo{
    font-size: 1.5rem;
  }

  .left-container{
    font-size: 1rem;
  }
  nav{
    padding: .3rem;
  }
}




@media(max-width:520px){

  nav{
    flex-direction: row-reverse;
  }

  ul {
    position: fixed;
    width: 250px;
    height: 100vh;
    background-color: rgba(6, 15, 66, 0.363); /* Semi-transparent background */
    backdrop-filter: blur(10px);
    border-radius:20px ;
    top: 80px;
    left: 100%;
    text-align: center;
    transition: all .5s;
    display: flex;
    flex-direction: column;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }


  .checkbtn {
    font-size: 22px;
    color: white;
    float: right;
    line-height: 80px;
    margin: 0 0 0 15rem;
    cursor: pointer;
    display: block;
  }

  #check:checked ~ .left-container ul{
    transform: translateX(-90%);
  }

  nav.sticky{
    padding: 0 0 0 0;
  }
  
}

@media(max-width:450px){
  .checkbtn{
    margin: 0 2rem 0 10rem;
    padding: 0;
  }
}
/* How to use */

.main-how-to-use{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 5rem 0;
}

.how-to-use {
  display: flex;
  background-color: #fff;
  width: 30rem;
  height: 15rem;
  color: #000;
  justify-content: center;
  align-items: center;

}

/* CONTACTS */

#contacts {
  background-color: #f4f4f4;
  padding: 20px;
  /*margin-bottom: 20px*/
}

#contacts h2 {
  margin-top: 0;
  color: #333;
}

#contacts p {
  margin: 0;
  color: #666;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}